.panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 40vw;

  .panel-body {
    .form-control {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 5px;
    }

    .errorMessage {
      min-height: 30px;
      color: #FF0000;
      padding-left: 5%;
    }
  }
}
