<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <h4 class="errorMessage">{{ errorMessage }}</h4>
      <input type="text" class="form-control" placeholder="Address" (blur)="getGeolocation()" [(ngModel)]="address">
      <input type="number" class="form-control" placeholder="Latitude" disabled value="{{ coords.lat }}">
      <input type="number" class="form-control" placeholder="Longitude" disabled value="{{ coords.lng }}">
    </div>
  </div>
</div>
